<div>
  <div class="container">
    <div class="four columns sidebar">
      <p> Write me!
      <%= link_to("SeanGee@gmail.com", "mailto:SeanGee@gmail.com") %></p>
    </div>

  </div>
</div>
<div>
  <div class="container">
    <div class="four columns sidebar">
      <h1>Sean Gee</h1>
    </div>

  </div>
</div>
<div>
  <div class="container">
      <div class="four columns sidebar">
        <div>
          <img src="/assets/sgphoto200x300.jpg">
        </div>
        <div>
          <strong>About me:</strong>
        </div>
      <p>
        I trained as an Electrical Engineer, worked as a Software Engineer <a href="http://www.linkedin.com/in/seangee"><i class="icon-linkedin-sign"></i></a> designing simulations, and now I'm hacking my way into the web <a href="http://sgreboot.tumblr.com/"><i class="icon-tumblr-sign"></i></a>. You can find me solving problems with code <a href="https://github.com/smgcode"><i class="icon-github-sign"></i></a>, climbing granite in Yosemite <a href= "https://plus.google.com/photos/117641334969338011935/albums/5744076741800911409"><i class="icon-google-plus-sign"></i></a> or shooting photos of the sunset.
      </p>
    </div>
    <div class="eight columns offset-by-one content">
      <h4>Projects:</h4>
      <ul>
        <li>
          <h5>[ <a href="https://github.com/smgcode/tasteSpottingClone"><i class="icon-github"></i></a> ]
          <%= link_to("Tasty Bite", "http://www.tastybite.org/") %>
          </h5>
        </li>
        <li>
          Tasty Bite is a clone of tastespotting.com using Ruby on Rails with the majority of the project in Backbone. You can create posts which uses complex forms and Paperclip to upload files. You can also favorite them, edit and delete your own posts. You can browse by categories or users and see the posts they've created and favorited. For styling I incorporated the Skeleton boiler plate and used Fontawesome icons. 
        </li>
        <li>
          To see these features please login using the following credentials to <%= link_to("Tasty Bite", "http://www.tastybite.org/") %>:
        </li>
        <li>
          user name: <strong>guest</strong> <br>
          password: <strong>guestpass</strong> 
        </li>
        <li> To view my code, please look at my <a href="https://github.com/smgcode/tasteSpottingClone">github</a> repository.
        </li>
        <li>
          <img src="/assets/screenshot364x279.jpg">
        </li>
      </ul>
    </div>
  </div>
</div>